<!DOCTYPE html>
<html>
  <head>
    <title>Eager Trekker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="2srzWvwRIRYOKOD5RsmJXXGt3TfBWZcBBQ7T6Ne22s0" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9463243345996595",
    enable_page_level_ads: true
  });
</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: :all %>
    <%= javascript_include_tag 'application' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <div id="wrapper">
      <div class="section">
        <div class="widget Header">
          <div class="container">
            <div class="logo fixed">
              <h1>
                <a href="/" style="display: block">
                  <%= image_tag 'eg_logo2.png', size: "410x100"%>
                </a>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/header' %>
      <div class="main container-fluid">


        <%= yield %>
      </div>
    </div>
  </body>
</html>
