<!DOCTYPE html>
<html>
  <head>
    <title>TrekkingBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: :all %>
    <%= javascript_include_tag 'application' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <button class="menu-btn">Click</button>
        <div class="sidenav">
          <div class="sidebar-container">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
          </div>
        </div>
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </div>


  </body>
</html>
