<!DOCTYPE html>
<html>
  <head>
    <title>TrekkingBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: :all %>
    <%= javascript_include_tag 'application' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li><a href="/#/posts"> Posts </a></li>
          <li><a href="/#/"> Settings </a></li>
          <li><a href="#"> Logout </a></li>
        </ul>

      </div>

      <div id="page-content-wrapper">
        <div class="main container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
