<!DOCTYPE html>
<html>
  <head>
    <title>TrekkingBlog</title>
    <meta name="google-site-verification" content="2srzWvwRIRYOKOD5RsmJXXGt3TfBWZcBBQ7T6Ne22s0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: :all %>
    <%= javascript_include_tag 'application' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <div id="wrapper">
      <%= render 'shared/header' %>
      <div class="main container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
