<!DOCTYPE html>
<html>
  <head>
    <title>Eager Trekker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="2srzWvwRIRYOKOD5RsmJXXGt3TfBWZcBBQ7T6Ne22s0" />
    
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5SMGB2C');
    </script>
    <!-- End Google Tag Manager -->
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: :all %>
    <%= javascript_include_tag 'application' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SMGB2C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="wrapper">
      <div class="section">
        <div class="widget Header">
          <div class="logo fixed">
            <h1>
              <a href="/" style="display: block">
                <%= image_tag 'eg_logo2.png', class: 'logo-image'%>
              </a>
            </h1>
          </div>
        </div>
      </div>
      <%= render 'shared/header' %>
      <div class="main container-fluid">


        <%= yield %>
      </div>
    </div>
  </body>
</html>
